* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fafafc;
  color: #493e3e;
  display: flex;
  justify-content: center;
}

p {
  font-weight: 200;
}

.app {
  width: 90vw;
}

.search-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.surprise {
  background-color: #ececf1;
  color: #675858;
  border-radius: 5px;
  font-weight: 600;
  padding: 4px 12px;
  margin: 0 0 2px 5px;
}

.input-container {
  width: 100%;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(11, 11, 62, 0.15) 0 2px 4px;
}

.input-container input {
  border: none;
  padding: 13px 14px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 200;
  outline: none;
  width: 100%;
}

.input-container input::placeholder {
  color: #a09696;
  font-weight: 200;
}

.input-container button {
  width: 20%;
  border: none;
  border-left: 1px #cac1c1 solid;
  background-color: #fff;
  color: #777;
  font-weight: bold;
  cursor: pointer;
}

.input-container button:active {
  background-color: #c1b4b4;
}
